/*  NAVIGATION  STYLING   */
nav{
  text-align: left;
  border-bottom: black 4px solid;
}
ul{
  display: inline-flex;
  width: 20%
}
li{
  width: 33%
}
a{
  text-decoration: none !important;
  color: #F5F5F5;
}
