.homeContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.playlistHeading {
    text-align: left;
    padding-left: 15px;
}
.playlistHeading h1 {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
